@charset "utf-8";

body,
html {
    height: 100%;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px;
    /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px;
        /* Space for fixed navbar */
    }
}

/*
 * //mark: Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;

}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* //mark: login */
body.login_body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

/* 우편번호 modal */
.postmodal_wrap .postmodal_result ul{
    list-style: none;
    padding-left: 0px;
}
.postmodal_wrap .postmodal_result input[type="radio"] {
    overflow: hidden;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}
.postmodal_wrap .postmodal_result li input.form-check-input:checked+label{
    background: #f7f7f7;
    border: 1px solid #007bff;
}
.postmodal_wrap .postmodal_result li label{
    display: block;
    padding: 10px;
    font-size: 15px;
}
.postmodal_content .postmodal_header, 
.postmodal_content .postmodal_wrap .postmodal_search,
.postmodal_content .postmodal_wrap .postmodal_info{
    padding: 20px;
}
.postmodal_content .postmodal_wrap .postmodal_body{
    height: 350px;
}
.postmodal_wrap .postmodal_body .new_addr{
    padding-bottom: 7px;
}
.postmodal_wrap .postmodal_body .border{
    display: inline-block;
    line-height: 38px;
    width: 70px;
    text-align: center;
}
.postmodal_wrap .postmodal_body .addr_txt{
    display: inline-block;
    margin-left: 20px;
}
.postmodal_wrap .postmodal_body .form-group .form-control,
.postmodal_wrap .postmodal_body .form-group .btn{
    margin-top: 15px;
}
.postmodal_wrap .postmodal_txt{
    padding: 20px 20px 0 20px;
}
.postmodal_wrap .postmodal_txt strong{
    float: left;
    font-size: 16px;
}
.postmodal_wrap .postmodal_txt span{
    float: right;
}
.postmodal_body{
    clear: both;
}
.postmodal_content .postmodal_wrap .postmodal_info div{
    margin-top: 16px;
}

/* 이메일문의 modal */
.emailmodal_content .emailmodal_header .email_close{
    position: absolute;
    right: 20px;
}
.modal-content.emailmodal_content .emailmodal_body div{
    margin-top: 16px;
}
.modal-content.emailmodal_content .emailmodal_footer{
    text-align: center;
    margin-bottom: 16px;
}